/.git
/node_modules
/vendor
/.env
/.env.local
/.env.docker
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/logs
/docker
docker-compose.yml
.gitignore
.gitattributes
*.md
.DS_Store
Thumbs.db
*.Zone.Identifier
